site_name: MULLER
site_url: https://The-AI-Framework-and-Data-Tech-Lab-HK.github.io/MULLER
theme:
  name: material
  language: zh
  # logo: assets/logo.png
  # favicon: assets/logo.png
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - content.code.copy
    - content.action.edit
    - search.highlight
    - search.suggest
