site_name: MULLER Documentation
site_description: MULLER: A Multimodal Data Lake Format for Collaborative AI Data Workflows
site_author: Xueling Lin, Bingyu Liu

repo_name: MULLER
repo_url: https://github.com/The-AI-Framework-and-Data-Tech-Lab-HK/MULLER
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - content.code.copy
    - content.action.edit
    - search.highlight
    - search.suggest

  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.tasklist
  - pymdownx.emoji

nav:
  - Home: get_started.md
  # - Install: install.md
  # - Quickstart:
  #     - Quick Start: quickstart/quickstart.md
  # - Concepts:
  #     - Dataset: concepts/dataset.md
  #     - Tensor Column: concepts/tensor.md
  #     - Storage & Versioning: concepts/storage.md
  # - Tutorials:
  #     - Read Multimodal Data: tutorials/read_data.md
  #     - Create Tensor Columns: tutorials/create_tensor.md
  #     - Write Data: tutorials/write_data.md
  # - API Reference:
  #     - Python API: api/python.md
  #     - C++ API: api/cpp.md

extra_css:
  - stylesheets/extra.css

plugins:
  - search
